.apresentacao{
    display: flex;
    justify-content: center;
}

.apresentacao__informacoes{
    width: 80em;
    display: flex;
    justify-items: center;
}

.apresentacao__centro{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 5em;
}

.informacoes__textos{
    margin: 14em 2em 0 3em;
}

.texto__eu-sou{
    font-size: 32px;
    font-weight: 300;
}

.texto__nome{
    font-size: 52px;
    font-weight: 500;
}

.infor__aling{
    margin-bottom: 0.5em;
}

.texto__sobre{
    font-size: 18px;
    line-height: 26px;
}

.sobre__botoes{
    display: flex;
    gap: 2em;
    padding: 1em 0;
    text-transform: uppercase;
}

.sobre__botoes-sobre{
    padding: 1em;
    background-color: var(--lilas-padrao);
    border-radius: 15px;
    align-items: center;
    width: 8em;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.sobre__botoes-projeto{
    padding: 1em;
    border: 1px solid;
    border-color: var(--lilas-padrao);
    border-radius: 15px;
    align-items: center;
    width: 8em;
    display: flex;
    justify-content: center;
}

.img-sobre{
    margin-right: 0.5em;
}

.informacoes__imagem{
    background-image: url("../imgs/Ellipse1.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 0 12em;
    display: flex;
}

.informacoes__imagem-img{
    margin-bottom: -1px;
}