:root{
    --cor-principal : #1A1A29;
    --cor-cabecalho : #181824;
    --banco : #FFF;
    --lilas-padrao : #7562E0;
    --cinza-detalhe : #BDBDBD;
    --cinza-projetos : #31313F;
}

.swiper{
    width: 70em;
    padding: 0 1em;
    border: 1px solid;
}

.swiper-slide{
    border: 1px solid;
    background-color: var(--cinza-projetos);
    width: 10em;
    height: 25em;
    border-radius: 4%;
}

.swiper-pagination{
    position: initial;
    padding: 0.5em;
}

.swiper-button-prev,
.swiper-button-next{
    display:none;
}

@media (max-width: 1000px) {
    .swiper{
        width: 50em;
    }
}
@media (max-width: 850px) {
    .swiper{
        width: 45em;
    }
}
@media (max-width: 800px) {
    .swiper{
        width: 40em;
    }

    .swiper-wrapper{
        width: 10em;
        gap: 2;
    }
}

@media (max-width: 800px) {
    .swiper{
        display: none;
    }
}