:root{
    --cor-principal : #1A1A29;
    --cor-cabecalho : #181824;
    --branco : #FFF;
    --lilas-padrao : #7562E0;
    --cinza-detalhe : #BDBDBD;
}

body {
	font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--cor-principal);
    color: var(--banco);
}

a{
    color: var(--banco);
}

.cabecalho{
    background-color: var(--cor-cabecalho);
    display: flex;
    justify-content: center;
}

.container{
    width: 80em;
    display: flex;
    justify-content: space-between;
}

.container__logo{
    padding: 1em;
}

.container__logo-link{
    color: var(--lilas-padrao);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.container__opcoes{
    padding: 1em;
}

.opcoes__link{
    margin: 0 1em;
    font-size: 18px;
    font-weight: 500;
    color: var(--branco);
    text-transform: uppercase;
    transition-duration: 600ms;
}

.container__opcoes :hover{
    color: var(--lilas-padrao);
    transition-duration: 600ms;
}

.lista-menu,
.menu__hamburgue{
    display: none;
}

/*                   Apresentação                    */

.apresentacao{
    display: flex;
    justify-content: center;
}

.apresentacao__informacoes{
    width: 80em;
    display: flex;
    justify-items: center;
}

.apresentacao__centro{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 5em;
}

.informacoes__textos{
    margin: 14em 2em 0 3em;
}

.texto__eu-sou{
    font-size: 32px;
    font-weight: 300;
}

.texto__nome{
    font-size: 52px;
    font-weight: 500;
}

.infor__aling{
    margin-bottom: 0.5em;
}

.texto__sobre{
    font-size: 18px;
    line-height: 26px;
}

.sobre__botoes{
    display: flex;
    gap: 2em;
    padding: 1em 0;
    text-transform: uppercase;
}

.sobre__botoes-sobre{
    padding: 1em;
    background-color: var(--lilas-padrao);
    border-radius: 15px;
    align-items: center;
    width: 8em;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.sobre__botoes-projeto{
    padding: 1em;
    border: 1px solid;
    border-color: var(--lilas-padrao);
    border-radius: 15px;
    align-items: center;
    width: 8em;
    display: flex;
    justify-content: center;
}

.img-sobre{
    margin-right: 0.5em;
}

.informacoes__imagem{
    background-image: url("../imgs/Ellipse1.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 0 12em;
    display: flex;
}

.informacoes__imagem-img{
    margin-bottom: -1px;
}

/*                        Sobre                       */

.sobre{
    display: flex;
    justify-content: center;
}

.sobre__container{
    width: 80em;
    padding: 5em 0;
    background-color: var(--cor-cabecalho);
}

.sobre__informacoes{
    margin: 0 3em;
}

.sobre__titulo{
    color: var(--lilas-padrao);
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sobre__texto{
    font-size: 18px;
    line-height: 26px;
}

.sobre__experiencia{
    display: flex;
    margin: 1.5em 3em;
}

.sobre__tempo{
    font-size: 96px;
    color: var(--lilas-padrao);
    font-weight: 500;
}

.sobre__tempo-informacoes{
    display: flex;
    align-items: center;
    margin: 0 0 0 1.5em;
    font-size: 24px;
    font-weight: 500;
}

.sobre__tipos{
    display: flex;
    justify-content:space-around;
    padding: 0 3em;
    flex-wrap: wrap;
    gap: 1em;
}

.tipos__item{
    width: 200px;
    height: 200px;
    background-color: var(--cinza-detalhe);
    border: 1px solid;
    border-radius: 4%;
    border-color: var(--lilas-padrao);
}

.sobre__tipos :hover{
    background-color: var(--lilas-padrao);
    border-color: var(--branco);
}

/*                     SKILL                    */
.skills{
    display: flex;
    justify-content: center;
}

.skills__container{
    width: 80em;
    background-color: var(--cor-cabecalho);
    padding-bottom: 5em;
}

.skill__titulo{
    padding: 0 1.39em;
    color: var(--lilas-padrao);
    font-size: 32px;
    font-weight: 500;
}

.skills_itens{
    padding: 1em 3em;
    margin-top: 1em;
}

.skills_itens{
    display: flex;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
}

.item__skill{
    width: 300px;
    height: 300px;
    border: 3px solid;
    border-radius: 4%;
}

.item__skill-tipo1{
    border-color: var(--lilas-padrao);
}

.item__skill-tipo2{
    border-color: var(--branco);
}

/*                     Portifolio                    */
.portifolio{
    display: flex;
    justify-content: center;
}

.portifolio__container{
    width: 80em;
    padding: 5em 0;
}

.portifolio__titulo{
    padding: 0 1.39em;
    color: var(--lilas-padrao);
    font-size: 32px;
    font-weight: 500;
}

.portifolio__texto{
    font-size: 18px;
    padding: 1em 2.5em;
}

/*                     Contatos                    */
.contatos{
    display: flex;
    justify-content: center;
}

.contatos__container{
    width: 80em;
    background-color: var(--cor-cabecalho);
}

.contatos__titulo{
    padding: 0 1.39em;
    color: var(--lilas-padrao);
    font-size: 32px;
    font-weight: 500;
}

/*                       Final                      */

.footer__final{
    display: flex;
    justify-content: center;
    background-color: var(--cor-cabecalho);
}

.final{
    padding: 1em;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--cinza-detalhe);
    font-weight: 300;
}